* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.p {
    color: #606991;
}

.p1 {
    font-weight: 500;
    font-size: 16px;
    color: #acb2be;
}
.p2 {
    font-size: 18px;
    color: #343f52;
}

.p3 {
    color: #343f52;
    font-weight: 600;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.rotate {
    transform: rotate(90deg);
}

.text-warning1 {
    color: #fab758;
}

.text-penbe1 {
    color: #eea1a6;
}

.text-blue1 {
    color: #8fdcc6;
}

.text-blue2 {
    color: #8caeec;
}
.bg-warning1 {
    background-color: #fab758;
}
.bg-penbe1 {
    background-color: #eea1a6;
}

.hover{transition: 0.3s;
    &:hover{
        color: #fab758;

    }
}

.button{
    background-color: #fab758;
    padding: 15px 25px;
    border: none;
    a{color: #fff;}
    transition: 0.3s;
    border-radius: 30px;
    font-weight: bold;
    &:hover {
        transform: translateY(-5px);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
}

nav {
    width: 100%;
    height: auto;
    background-color: #fff8ef;

    img {
        width: 134px;
    }

    .container {
        ul {
            li {
                a {
                    &:hover {
                        color: #fab758;
                    }
                }
            }
        }
    }
}

// nav son
// ===========
@media(max-width:576px){
    .container{
        max-width: 540px;
    }
    #section6{
        &::before{
            content: '';
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100vh;
            background-color: #fffaf3;
            z-index: -1;
            clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);

        }
    }
    #section9{
        .row{
            .box{
                .col{
                    padding: 30px !important;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: start;
                }
            }
        }
    }
    #section11{display: none;
        .row{
            
                img{
                    width: 30% !important;
                    margin-top:10px ;
                }
        }
    }
}
@media(max-width:992px){
     footer{
        .box1{
            width: 100%;
        }
    }
}
@media(min-width:768px){
    .container{
        max-width: 782px;
    }

    #section9{
        .row{
            .box{
                .col{
                    padding: 20px 50px!important;
                    
                }
            }
        }
    }
    #section11{
        .row{
            
                img{
                    width: 150px;
                    margin:30px 20px ;
                }
        }
    }
   
}

@media(min-width:992px){
    .container{
        max-width: 960px;
        .box{
            input{
                
             max-width: 190px;
                
            }
        }
    }
    #section6{
        &::before{
            content: '';
            top: 50%;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100vh;
            background: rgb(255,255,241);
            background: rgb(255,255,252);
            background: linear-gradient(0deg, rgba(255,255,252,1) 26%, rgba(255,249,241,1) 66%);
            z-index: -1;
            clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);

        }
    }
    #section8{
        .row{
            .box{
                    .col{
                        padding: 10px!important;
                    }
        
            }
        }
    }
    #section9{
        .row{
            .box{
                .col{
                    padding: 20px!important;
                    
                }
            }
        }
    }
    #section11{
        .row{
            
                img{
                    width: 140px;
                    margin:30px 10px ;
                }
        }
    }
  
}
@media(min-width:1200px){
    .container{
        max-width: 1140px;
    }

    #section6{
        &::before{
            content: '';
            top: 60%;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100vh;
            background-color: #fffaf3;
            z-index: -1;
            clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);

        }
    }
    #section8{
        .row{
            .box{
                    .col{
                        padding: 16px !important;
                    }
        
            }
        }
    }
    #section11{
        .row{
            
                img{
                    width: 160px;
                    margin:30px 25px ;
                }
        }
    }
}
@media(min-width:1400px){
    .container{
        max-width: 1320px;
    }
    #section8{
        .row{
            .box{
                    .col{
                        padding: 25px !important;
                    }
        
            }
        }
    }
    #section9{
        .row{
            .box{
                .col{
                    padding: 50px!important;
                    
                }
            }
        }
    }
}
nav{
    position: fixed !important;
    z-index: 999;
}

#section1 {
    width: 100%;
    height: auto;
    background-color: #fff8ef;
    position: relative;
    
    .icon-right {
        position: fixed;
        right: 0;
        top: 150px;
        color: #fff;
        z-index: 998;

        .box1 {
            background-color: #384259;
        }

        .box2 {
            background-color: #f73e5e;
        }

        .box3 {
            background-color: #7ac7c4;
        }

        .box4 {
            background-color: #c4edde;
        }
    }

    .boxes {
        padding: 130px 0;

        img {
            width: 100%;
        }

        h2 {
            font-size: 50px;
            color: #343f52;
        }

        p {
            font-size: 25px;
            margin-bottom: 30px;
        }
    }

}

// section1 son
// ============

#section2 {
    width: 100%;
    height: auto;
    background-color: #fefefe;
    margin: 100px 0;
    position: relative;
    
  
    .row{
        padding: 100px 0;
    }

    .box {
        background-color: #fff;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding:20px 36px;
    }

    .box1 {
        span {
            position: relative;

            &:hover {
                &::before {
                    width: 100%;
                    left: 0;
                }
            }

            &::before {
                position: absolute;
                content: '';
                width: 0;
                height: 1px;
                bottom: -3px;
                right: 0;
                z-index: 5;
                background-color: #fab758;
                transition: 0.3s;
            }
        }
    }

    .box2 {
        span {
            position: relative;

            &:hover {
                &::before {
                    width: 100%;
                    left: 0;
                }
            }

            &::before {
                position: absolute;
                content: '';
                width: 0;
                height: 1px;
                bottom: -3px;
                right: 0;
                z-index: 5;
                background-color: #eea1a6;
                transition: 0.3s;
            }
        }
    }

    .box3 {
        span {
            position: relative;

            &:hover {
                &::before {
                    width: 100%;
                    left: 0;
                }
            }

            &::before {
                position: absolute;
                content: '';
                width: 0;
                height: 1px;
                bottom: -3px;
                right: 0;
                z-index: 5;
                background-color: #8fdcc6;
                transition: 0.3s;
            }
        }
    }
    .box4{
        span{position: relative;
                &:hover{
                    &::before{
                        width: 100%;
                        left: 0;
                    }
                }
                
                &::before{
                position: absolute;
                content: '';
                width: 0;
                height: 1px;
                bottom: -3px;
                right: 0;
                z-index: 5;
                background-color: #8caeec;
                transition: 0.3s;
                }
            }
    } 



}
// section2 son
// ============

#section3{width: 100%;
    height: auto;
    padding: 100px 0;
    background-color: #fff9f1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);

    .row{
        .box{
           .yazi{
            margin: 30px 0;
           }
           img{
            width: 100%;
           }
           
        }
    }
}
// section3 son
// ============

#section4{
    width: 100%;
    height: auto;
    margin: 100px 0;
    background-color: #fefefe;

    .row{
        .box{
            .kapsam{
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            background-color: #fff;
            }

            .herif{
               background-color: #fffaf3;
               width: 70px;
               height: 70px;
               display: flex;
               align-items: center;
               justify-content: center;
               margin: 0 20px;
            }
        }
    }
}

// section4 son
// ============

#section5{
    width: 100%;
    height: auto;
    .row{
        .box{
            img{
                width: 100%;
            }

  .accordion{
  .accordion-item{
    .accordion-header{
      .accordion{
    border: none;
      font-size: 20px;
       background-color: #fff;
      width: 100%;
      text-align: start;
      margin: 10px 0;
         .p2{transition: 0.3s;
           &:hover{
           color: #fab758;
           i{
            transform: rotate(180deg);
           }
                }
            }
                    }
                }
            }
          } 
    
    
        }
    }
}
// section5 son
// ============

#section6{
    width: 100%;
    height: auto;
    margin: 150px 0 0 0;
    padding: 100px 0;
    position: relative;
    .row{padding:50px 0 ;
        .box{
            background-color: #fff;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: 4mm;
            h5{
                margin: 10px 0;
            }
            i{transition: 0.3s;}
            i:hover{
                transform: translateY(-5px);
            }
            img{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }
    }
}

// section6 son
// ============

#section7{
    width: 100%;
    height: auto;
    .row{
        .box{
            img{
                width: 100%;
            }
        }
    }
}
// section7 son
// =============
#section8{width: 100%;
    height: auto;
    background: rgb(255,255,252);
    background: linear-gradient(180deg, rgba(255,255,252,1) 26%, rgba(255,249,241,1) 66%);
    padding: 150px 0;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);

    .row{
        .box{
             .col{
                 background-color: #fff;
              box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
               border-radius: 2mm;
               padding: 40px;
                position: relative;
               &::before{
                content: '';
                top: 10px;
                left: 0;
                width: 120px;
                height:100px;
                position: absolute;
                background-image: url(/img/tik.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                transform: scale(.5) rotate(180deg);
                z-index: 1;
                opacity: 0.9;
               }
             }
           
        }
    }
}
// section8 son
// =========

#section9{
    width: 100%;
    height: auto;
    margin: 100px 0;
    .row{
        .box{
            .col{
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                
                margin: 15px;
                border-radius: 2mm;
            }
        }
    }
}
// section9 son 
// ============
#section10{
    width: 100%;
    height: auto;
    margin: 100px 0;
    .row{
        .box{
            img{width: 100%;}
        }
    }
}
// section10 son
// ==============

#section11{
    width: 100%;
    height: auto;
    
}
// section11 son
// ==============

footer{
    width: 100%;
    height: auto;
    margin-top: 100px;
    padding: 100px 0;
    background-color: #343f52;
    clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
    
    .box{
        i{transition: 0.3s;
            &:hover{transform: translateY(-5px);}
        }
    }
    .button{
        height: 7vh;
    }
}
